*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0a0a0a;
    font-family: Arial, sans-serif;
 }

.main{
    background-color: hsl(228, 13%, 15%);
    border-radius: 25px;
    padding: 30px;
    width: 90%;
    max-width: 370px;
    color: #fff;
 }

.icon{
    border-style: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 30px;
    margin-bottom: 40px;
    color: rgb(255, 150, 4);
    background-color: hsl(229, 17%, 13%);
    text-align: center;
}

h1{
    font-size: 1.5em;
    margin-bottom: 10px;
 }

.f_p{
    font-size: 13px;
    color: #aaa;
    margin-bottom: 20px;
    line-height: 23px;
}

.two{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.bt{
    width: 48px;
    height: 48px;
    background-color: hsl(229, 17%, 13%);
    border-style: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c7c7c7;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 1s ease;
}

.bt:hover{
    background-color: #ffffff;
    transition: background-color 0.1s ease;

}

.bt:active{
    background-color: #ff7f0e;
}

.lbt{
    width: 100%;
    padding: 12px;
    background-color: #ff7f0e;
    border: none;
    border-radius: 25px;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 1s ease;
}

.lbt:hover{
    background-color: #ffffff;
    transition: background-color 0.1s ease;
}

.lbt:active{
    background-color: #ff7f0e;
 }


.s_main{
    text-align: center;
    background-color: hsl(228, 13%, 15%);
    border-radius: 25px;
    padding: 40px 35px;
    width: 90%;
    max-width: 360px;
    color: #fff;
    display: none;
}

.logo{
    font-size: 100px;
}

#finalrate{
    background-color: #353535;
    padding: 5px 15px;
    border-radius: 20px;
    display: inline-block;
    font-size: 14px;
    color: #fb8805;
    margin-bottom: 15px;
    border: solid none;
}

h2{
    line-height: 60px;
}
.l_p{
    font-size: 13px;
    color: hsl(0, 0%, 52%);
}

@media(max-width: 300px){
.main{
    padding: 15px;
    }

.bt{
    flex-wrap: wrap;
    gap: 10px;
}

.bt{
    width: 40px;
    height: 40px;
    font-size: 1em;
}

.lbt{
    padding: 10px;
    font-size: 14px;
}
}